{% extends "blog/base.html" %}
{% block content %}

<select class="form-select form-select-lg mb-5 my_select" aria-label=".form-select-lg example" id="game">
    <option selected>Дисциплина</option>
    <option value="CSGO">CSGO</option>
    <option value="CSGO1">CSGO1</option>
    <option value="CSGO2">CSGO2</option>
    <option value="CSGO3">CSGO3</option>
    <option value="Dota1">Dota1</option>
    <option value="Dota2">Dota2</option>
    <option value="FIFA22">FIFA22</option>
    <option value="Fortnite">Fortnite</option>
    <option value="JUSTDANCE">JUSTDANCE</option>
    <option value="LOL">LOL</option>
    <option value="LOL1">LOL1</option>
    <option value="LOL2">LOL2</option>
    <option value="PUBG">PUBG</option>
    <option value="Standoff">Standoff</option>
    <option value="Valorant">Valorant</option>
    <option value="Valorant1">Valorant1</option>
    <option value="Valorant2">Valorant2</option>
    <option value="MLBB">MLBB</option>
    <option value="MLBB1">MLBB1</option>
    <option value="MLBB2">MLBB2</option>
</select>

<select class="form-select form-select-lg mb-5 my_select" aria-label=".form-select-lg example" id="div">
    <option selected>Дивизион</option>
    <option value="Восток">Восток</option>
    <option value="Запад">Запад</option>
    <option value="МСКЛ">МСКЛ</option>
    <option value="5-8">5-8</option>
    <option value="9-11">9-11</option>
    <option value="college">college</option>
</select>

<select class="form-select form-select-lg mb-5 my_select" aria-label=".form-select-lg example"
        onChange="history(window.location='/rating/);" id="tour">
    <option selected>Тур</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
</select>

<select class="form-select form-select-lg mb-5 my_select" aria-label=".form-select-lg example" id="sort">
    <option selected>Сортировать</option>
    <option value="Убывание">Убывание</option>
    <option value="Возрастание">Возрастание</option>
</select>

<a class="btn btn-primary btn-sm mt-1 mb-1" href="#" onclick="reload_filter()">Обновить</a>
<a class="btn btn-primary btn-sm mt-1 mb-1" href="#" onclick="save_rating()">Выгрузить</a>


<form method="post" class="col-md-6" enctype="multipart/form-data" action="{% url 'upload_rating' %}">
    {% csrf_token %}
    <input type="file" name="file">
    <input type="submit" class="btn btn-primary btn-sm" value="Загрузить">
</form>


<a class="btn btn-primary btn-sm mt-1 mb-2 col-md-2" href="#" onclick="download_rating()">Скачать рейтинг (фото)</a>


<table class="table table-sm">
    <thead>
    <tr class="table-active">
        <th scope="col">№</th>
        <th scope="col">Команда</th>
        <th scope="col">Win</th>
        <th scope="col">Lose</th>
        <th scope="col">PST</th>
    </tr>
    </thead>
    <tbody>
    {% for command in commands %}
    <tr class="table-primary">
        <th scope="row">{{command.0}}</th>
        <td>{{command.1}}</td>
        <td>{{command.2}}</td>
        <td>{{command.3}}</td>
        <td>{{command.4}}%</td>
    </tr>
    {% endfor %}
    </tbody>
</table>


<script>
    function reload_filter(){
        const game = document.getElementById('game').value;
        const div = document.getElementById('div').value;
        const tour = document.getElementById('tour').value;
        const sort = document.getElementById('sort').value;

         $.ajax({
            url: '/reload_filter/',
            type: 'GET',
            dataType: 'json',
            data: {'game': game, 'div': div, 'tour': tour, 'sort': sort},
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.error('Ошибка:', error);
            }
        });


        location.href = window.location.href;
    }

    function save_rating(){
            location.href = "http://31.129.102.195:8000/save_rating/";
    }

    function download_rating(){
            location.href = "http://31.129.102.195:8000/download_rating/";
    }
</script>

{% endblock content %}
